infra/n8n-workflows/04_email_funnel.json
{
  "name": "04 — Email Funnel (NEW_LEAD)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-funnel",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-funnel",
      "name": "Webhook /lead-funnel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body?.eventType ?? $json.eventType }}", "operation": "equals", "value2": "NEW_LEAD" }
          ]
        }
      },
      "id": "filter-lead",
      "name": "Filter: NEW_LEAD",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body.payload.userEmail }}", "operation": "isNotEmpty" }
          ]
        }
      },
      "id": "filter-has-email",
      "name": "Filter: has email",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [680, 300]
    },

    {
      "parameters": {
        "fromEmail":   "no-reply@novostroyki-ufa.ru",
        "toEmail":     "={{ $json.body.payload.userEmail }}",
        "subject":     "Ваша подборка квартир готова",
        "emailFormat": "html",
        "html":        "={{ '<html><body style=\"font-family:Arial,sans-serif;max-width:560px;margin:0 auto;color:#0F1923\"><div style=\"background:#0F1923;padding:24px;text-align:center\"><span style=\"font-size:1rem;color:#fff;font-weight:700\">● Новостройки Уфы</span></div><div style=\"padding:32px 24px\"><h2 style=\"font-size:1.375rem;margin-bottom:12px\">Привет' + ($json.body.payload.userName ? ', ' + $json.body.payload.userName : '') + '!</h2><p style=\"color:rgba(15,25,35,0.65);line-height:1.7;margin-bottom:24px\">Спасибо за интерес к новостройкам Уфы. Мы подготовили персональную подборку под ваш запрос.</p><a href=\"' + $vars.FRONTEND_URL + '/recommendations\" style=\"display:inline-block;padding:14px 28px;background:#2F80ED;color:#fff;border-radius:10px;text-decoration:none;font-weight:700\">Смотреть подборку</a></div><div style=\"padding:16px 24px;border-top:1px solid rgba(15,25,35,0.08);font-size:0.75rem;color:rgba(15,25,35,0.4);text-align:center\">Новостройки Уфы · <a href=\"' + $vars.FRONTEND_URL + '/unsubscribe\" style=\"color:rgba(15,25,35,0.4)\">Отписаться</a></div></body></html>' }}"
      },
      "id": "email-1-welcome",
      "name": "Email 1: Подборка готова",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "smtp": { "id": "smtp-cred", "name": "SMTP" }
      }
    },

    {
      "parameters": { "amount": 2, "unit": "days" },
      "id": "wait-2d",
      "name": "Wait 2 days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@novostroyki-ufa.ru",
        "toEmail":   "={{ $json.body.payload.userEmail }}",
        "subject":   "3 причины купить квартиру в новостройке сейчас",
        "emailFormat": "html",
        "html":      "={{ '<html><body style=\"font-family:Arial,sans-serif;max-width:560px;margin:0 auto;color:#0F1923\"><div style=\"background:#0F1923;padding:24px;text-align:center\"><span style=\"font-size:1rem;color:#fff;font-weight:700\">● Новостройки Уфы</span></div><div style=\"padding:32px 24px\"><h2 style=\"font-size:1.25rem;margin-bottom:20px\">3 причины не откладывать покупку</h2><div style=\"padding:16px;border-radius:12px;background:#EBF4FF;margin-bottom:12px\"><div style=\"font-weight:700;color:#2F80ED;margin-bottom:4px\">📈 Цены растут</div><p style=\"color:rgba(15,25,35,0.65);font-size:0.9rem;margin:0\">Стоимость квадратного метра в Уфе выросла на 15% за год.</p></div><div style=\"padding:16px;border-radius:12px;background:#E8F8EE;margin-bottom:12px\"><div style=\"font-weight:700;color:#27AE60;margin-bottom:4px\">🏗 Льготная ипотека</div><p style=\"color:rgba(15,25,35,0.65);font-size:0.9rem;margin:0\">Семейная ипотека под 6% всё ещё доступна.</p></div><div style=\"padding:16px;border-radius:12px;background:#FFF4E8;margin-bottom:24px\"><div style=\"font-weight:700;color:#F2994A;margin-bottom:4px\">🎯 Индивидуальный подход</div><p style=\"color:rgba(15,25,35,0.65);font-size:0.9rem;margin:0\">AI-консультант подберёт ЖК за 5 минут.</p></div><a href=\"' + $vars.FRONTEND_URL + '/chat\" style=\"display:inline-block;padding:14px 28px;background:#2F80ED;color:#fff;border-radius:10px;text-decoration:none;font-weight:700\">Спросить AI-консультанта</a></div><div style=\"padding:16px 24px;border-top:1px solid rgba(15,25,35,0.08);font-size:0.75rem;color:rgba(15,25,35,0.4);text-align:center\"><a href=\"' + $vars.FRONTEND_URL + '/unsubscribe\" style=\"color:rgba(15,25,35,0.4)\">Отписаться</a></div></body></html>' }}"
      },
      "id": "email-2-reasons",
      "name": "Email 2: 3 причины",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "smtp": { "id": "smtp-cred", "name": "SMTP" }
      }
    },

    {
      "parameters": { "amount": 5, "unit": "days" },
      "id": "wait-5d",
      "name": "Wait 5 days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@novostroyki-ufa.ru",
        "toEmail":   "={{ $json.body.payload.userEmail }}",
        "subject":   "Последний шаг к вашей квартире",
        "emailFormat": "html",
        "html":      "={{ '<html><body style=\"font-family:Arial,sans-serif;max-width:560px;margin:0 auto;color:#0F1923\"><div style=\"background:linear-gradient(135deg,#0F1923,#1a2a3a);padding:32px 24px;text-align:center\"><div style=\"font-size:2rem;margin-bottom:8px\">🏠</div><h2 style=\"color:#fff;font-size:1.25rem;margin:0\">Ваша квартира ждёт вас</h2></div><div style=\"padding:32px 24px\"><p style=\"color:rgba(15,25,35,0.65);line-height:1.7;margin-bottom:24px\">Вы уже сделали первый шаг. Осталось один — поговорить с нашим специалистом. Это бесплатно.</p><a href=\"' + $vars.FRONTEND_URL + '/recommendations\" style=\"display:inline-block;padding:14px 28px;background:#2F80ED;color:#fff;border-radius:10px;text-decoration:none;font-weight:700;margin-right:12px\">Смотреть подборку</a><a href=\"' + $vars.FRONTEND_URL + '/chat\" style=\"display:inline-block;padding:14px 28px;background:#F7F9FC;color:#0F1923;border-radius:10px;text-decoration:none;font-weight:600;border:1.5px solid rgba(15,25,35,0.1)\">Спросить AI</a></div><div style=\"padding:16px 24px;border-top:1px solid rgba(15,25,35,0.08);font-size:0.75rem;color:rgba(15,25,35,0.4);text-align:center\"><a href=\"' + $vars.FRONTEND_URL + '/unsubscribe\" style=\"color:rgba(15,25,35,0.4)\">Отписаться</a></div></body></html>' }}"
      },
      "id": "email-3-final",
      "name": "Email 3: Дожим",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {
        "smtp": { "id": "smtp-cred", "name": "SMTP" }
      }
    }
  ],
  "connections": {
    "Webhook /events": {
      "main": [[{ "node": "Filter: NEW_LEAD", "type": "main", "index": 0 }]]
    },
    "Filter: NEW_LEAD": {
      "main": [[{ "node": "Filter: has email", "type": "main", "index": 0 }]]
    },
    "Filter: has email": {
      "main": [[{ "node": "Email 1: Подборка готова", "type": "main", "index": 0 }]]
    },
    "Email 1: Подборка готова": {
      "main": [[{ "node": "Wait 2 days", "type": "main", "index": 0 }]]
    },
    "Wait 2 days": {
      "main": [[{ "node": "Email 2: 3 причины", "type": "main", "index": 0 }]]
    },
    "Email 2: 3 причины": {
      "main": [[{ "node": "Wait 5 days", "type": "main", "index": 0 }]]
    },
    "Wait 5 days": {
      "main": [[{ "node": "Email 3: Дожим", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
